PORT=3335
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=
APP_NAME=order-service
DRIVE_DISK=local

DB_CONNECTION=pg
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB_NAME=order_db

JWT_SECRET=super_secret_jwt_key_adonis_user_service
RESTAURANT_SERVICE_URL=http://127.0.0.1:3334
