PORT=3336
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=PAYMENT_SERVICE_SECRET_KEY_9988776655
APP_NAME=payment-service

DB_CONNECTION=pg
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=1234
PG_DB_NAME=payment_db

JWT_SECRET=super_secret_jwt_key_adonis_user_service
JWT_EXPIRES_IN=15m

ORDER_SERVICE_URL=http://127.0.0.1:3335
USER_SERVICE_URL=http://127.0.0.1:3333
DEFAULT_PAYMENT_GATEWAY=MOCK
