PORT=3337
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=secret_app_key_adonis_delivery_service_2026
APP_NAME=delivery-service
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB_NAME=delivery_db
JWT_SECRET=super_secret_jwt_key_adonis_user_service
USER_SERVICE_URL=http://127.0.0.1:3333
RESTAURANT_SERVICE_URL=http://127.0.0.1:3334
ORDER_SERVICE_URL=http://127.0.0.1:3335
PAYMENT_SERVICE_URL=http://127.0.0.1:3336
